*.log
*.out
*.pyc
*.swp
.DS_Store
.eslintcache
.idea
.opt-in
.opt-out
.vscode
/assets
build
coverage
keys
node_modules
tmp
/tags
/db
core
/_site
/public/index.html
/public/static
/public/*.js
/public/asset-manifest.json
/public/*.map
