*.log
*.out
*.pyc
*.swp
.DS_Store
.eslintcache
.idea
.opt-in
.opt-out
.vscode
/assets
build
client-coverage
coverage
coverage.zip
cypress/screenshots
cypress/videos
keys
node_modules
ops/nginx-docker/web
public
server-coverage
server/src/config/local*
server/lib
tmp
/tags
jsconfig.json
junit.xml
*.trx
lighthouse.html
server/src/route-data-cache.json
/jane-core-automation
/.cache
server/webpack-assets.json.bak
server/icons/static
/db
