<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="leftism,communism,marxism,socialism,resources,links">
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/assets/logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <button id="invert">☾</button>
    <main>
      {{ content }}
    </main>
    <script type="text/javascript">
      ;(function () {
        function changeViewportContent (content) {
          document.querySelector('meta[name=viewport]').content = content;
        }

        function initialize () {
          changeViewportContent('width=device-width, minimum-scale=1.0, maximum-scale=1.0');
        }

        function gestureStart () {
          changeViewportContent('width=device-width, minimum-scale=0.25, maximum-scale=1.6');
        }

        function gestureEnd () {
          initialize();
        }

        if (navigator.userAgent.match(/iPhone/i)) {
          initialize();

          document.addEventListener('touchstart', gestureStart, false);
          document.addEventListener('touchend', gestureEnd, false);
        }
      })();

      var inverted = false;
      var invertButton = document.getElementById('invert')
      invertButton.onClick = function () {
        var body = document.querySelector('body');
        if (inverted) {
          body.style.background = '#fff';
          body.style.filter = '';
          invertButton.innerText = '☾';
        } else {
          body.style.background = '#222';
          body.style.filter = 'invert(100%)';
          invertButton.innerText = '☀';
        }
      }
    </script>
  </body>
</html>
