<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="leftism,communism,marxism,socialism,resources,links">
    <link rel="manifest" href="/assets/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/assets/logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    <script type="text/javascript">
      // using IIFEs here to avoid polluting global

      // fix scale issues on iOS
      ;(function () {
        function changeViewportContent (content) {
          document.querySelector('meta[name=viewport]').content = content;
        }

        function initialize () {
          changeViewportContent('width=device-width, minimum-scale=1.0, maximum-scale=1.0');
        }

        function gestureStart () {
          changeViewportContent('width=device-width, minimum-scale=0.25, maximum-scale=1.6');
        }

        function gestureEnd () {
          initialize();
        }

        if (navigator.userAgent.match(/iPhone/i)) {
          initialize();

          document.addEventListener('touchstart', gestureStart, false);
          document.addEventListener('touchend', gestureEnd, false);
        }
      })();

      // Dark/light mode button and functionality
      ;(function () {
        // If localStorage is accessible, store preference there
        var hasStorage = (function () {
          try {
            var testKey = 'marxist.space-test'
            localStorage.setItem(testKey, 'testing')
            localStorage.removeItem(testKey)
            return true
          } catch (_) {
            return false
          }
        })();

        // Don't put the button on the page unless JS is enabled, since it wouldn't do anything
        var invertButton = document.createElement('button');
        invertButton.title = 'Dark Mode';
        invertButton.id = 'invert';
        invertButton.innerText = '☾';
        var body = document.querySelector('body');
        body.prepend(invertButton);
        var invertStorageKey = 'marxist.space-inverted';
        // Light mode by default
        var inverted = false;

        function handleInvert (options) {
          body.style.background = options.background;
          body.style.filter = options.filter;
          invertButton.innerText = options.innerText;
          invertButton.title = options.title;
          inverted = options.inverted;
          if (hasStorage) {
            localStorage.setItem(invertStorageKey, JSON.stringify(options.inverted));
          }
        }

        function clearInvert () {
          handleInvert({
            background: '#fff',
            filter: '',
            innerText: '☾',
            title: 'Dark Mode',
            inverted: false
          });
        }

        function setInvert () {
          handleInvert({
            background: '#111',
            filter: 'invert(100%)',
            innerText: '☀',
            title: 'Light Mode',
            inverted: true
          });
        }

        invertButton.onclick = function () {
          if (inverted) {
            clearInvert();
          } else {
            setInvert();
          }
        }

        document.addEventListener('DOMContentLoaded', function () {
          if (hasStorage) {
            var storageInverted = JSON.parse(localStorage.getItem(invertStorageKey));
            inverted = storageInverted;
            if (storageInverted) {
              setInvert();
            }
          }
        });
      })();
    </script>
  </body>
</html>
