version: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
     - run: docker build -t example/app:$CIRCLE_BRANCH .
     - run: docker push example/app:$CIRCLE_BRANCH
